<div class="fixed inset-0 bg-sky-50 flex items-center justify-center">
  <div class="bg-white p-8 rounded-xl shadow-sm">
    <h1 class="font-bold mb-1 text-3xl text-center mx-auto">
      Login to <span class="text-sky-700">CarMarket</span>
    </h1>
    <p class="text-center text-neutral-400 px-[10%] mx-auto mb-2">
      Fastest growing used and new car marketplace in Europe
    </p>
    <hr />

    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      class="flex flex-col py-5"
    >
      <label for="first-name">Email:</label>
      <input
        id="tbEmail"
        type="email"
        formControlName="email"
        class="border rounded p-2"
      />
      <small
        *ngIf="
          loginForm.controls['email'].invalid &&
          loginForm.controls['email'].touched
        "
        class="text-rose-600"
        >Invalid email address.</small
      >
      <br />
      <label for="last-name">Password:</label>
      <input
        id="tbPassword"
        type="password"
        formControlName="password"
        class="border rounded p-2"
      />
      <small
        *ngIf="
          loginForm.controls['password'].invalid &&
          loginForm.controls['password'].touched
        "
        class="text-rose-600"
        >Invalid password.</small
      >
      <br />
      <button
        type="submit"
        [disabled]="!loginForm.valid || submitDisabled"
        class="w-full py-2 bg-sky-500 text-white rounded-md disabled:bg-sky-200 disabled:cursor-not-allowed"
      >
        Submit
      </button>

      <div class="w-full mt-4 text-center text-red-600">
        {{ loginResponse }}
      </div>
    </form>
    <p class="text-center">
      Don't have an account?
      <a
        routerLink="/register"
        class="text-sky-500 hover:text-sky-300 transition"
        >Register here.</a
      >
    </p>
  </div>
</div>
