<header
  class="w-full flex flex-row items-center justify-between py-3 px-3 md:px-5 bg-sky-200"
>
  <div class="flex flex-row items-center">
    <i class="fa-solid fa-car text-2xl mt-1 text-sky-900"></i>
    <h1 class="font-bold text-xl md:text-3xl text-sky-700 ms-2">CarMarket</h1>
  </div>

  <div></div>

  <div
    class="flex flex-row items-center border-white bg-sky-300 border-2 rounded-full py-1 px-4"
  >
    <p class="text-white md:block hidden pe-3">
      Howdy, {{ user?.username || "User" }}
    </p>

    <div class="relative">
      <div
        (click)="handleMenuClick()"
        class="rounded-full shadow w-[40px] h-[40px] flex items-center justify-center border-2 border-white bg-sky-400 cursor-pointer hover:bg-sky-800 transition"
      >
        <i class="fa-solid fa-bars text-white"></i>
      </div>

      <div
        [ngClass]="showMenu ? '' : 'hidden'"
        class="absolute top-[110%] w-[50vw] md:w-[15vw] rounded shadow bg-white right-0 p-4 z-50"
      >
        <nav class="flex flex-col">
          <a
            routerLink="/"
            class="hover:bg-neutral-200 py-1 px-3 transition rounded"
            >Cars</a
          >
          <a
            routerLink="/car/new"
            class="hover:bg-neutral-200 py-1 px-3 transition rounded"
            >Add new car</a
          >
          <a
            routerLink="/mycars"
            class="hover:bg-neutral-200 py-1 px-3 transition rounded"
            href="#"
            >My cars</a
          >
          <hr class="my-3" />
          <button
            (click)="handleLogout()"
            class="w-full bg-red-400 py-1 text-white rounded transition hover:bg-red-300"
          >
            Logout
          </button>
        </nav>
      </div>
    </div>
  </div>
</header>
